h1, h2, h3, h4{
    text-align: center;
}

img {
    margin: auto;
    display: block;
}

p, li {
    margin-left: 400px;
    margin-right: 400px;
    font-style: "EB Garamond";
}



body {
    background-image: linear-gradient(red, lightblue);
}